<div class="container px-5 px-sm-0">
  <div class="row">
<i><%= flash[:notice] %></i>
<%= render 'books/share', user: @user, book: @new %>
<div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
  <table class="table">
    <tbody>
      <tr>
        <td>
          <%= link_to user_path(@user.id) do %>
            <%= image_tag @user.get_profile_image(100, 100) %>
            <%= @book.user.name %>
          <% end %>
        </td>
        <td>
          <%= link_to book_path(@book.id) do %>
            <%= @book.title %>
          <% end %>
        </td>
        <td>
          <%= @book.body %>
        </td>
        <% if @book.user == current_user %>
          <td>
            <div class="btn btn-sm btn-success">
              <%= link_to 'Edit', edit_book_path(@book.id) %>
            </div>
          </td>
          <td>
            <div class="btn btn-sm btn-danger">
              <%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
            </div>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
